<html ng-app="chatApp">
<head>
	<title>Jamie and Camilla's Chatt App!</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js'></script>
	<script src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
		<script src="app.js"></script>
        <script src="directives.js"></script>
	<link href="styles.css" rel="stylesheet">	
</head>
<body ng-controller="chatController">

<header>Jamie and Camilla's Chat App</header><br>

<select-name></select-name>

<enter-password></enter-password>

<show-and-input-messages></show-and-input-messages>


</body>
</html>